body{
    background-color: rgb(253, 251, 251);

}

.barra{

    position: fixed;
    top: 0;
    background-color: rgb(215, 218, 217);
    width: 100%;
    text-align: center;
   
}

#minha_foto{
    margin-top: 100px;
  
}
